.hero {
    min-height: 100vh;
    display: flex;
    align-items: top;
    background-image: url(/image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: flex;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(252, 252, 252, 1) 8%, 
    rgb(255, 255, 255, 0) 25%);
}

.hero .content {
    position: top;
    padding: 1rem 2%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 2em;
    color: #000000;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    line-height: 1.2;
}

.hero .content p {
    font-size: 2em;
    margin-top: 0.5rem;
    line-height: 2;
    font-weight: 500; 
}
