body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; /* Add a suitable font-family */
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-top: 100px;
}

.login-container h2 {
    text-align: center;
}

.login-form .input-container {
    position: relative;
    margin-bottom: 10px;
}

.login-form .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.login-form input {
    width: calc(100% - 70px); /* Adjusted width to accommodate the icon and padding */
    padding: 10px 30px 10px 40px; /* Adjusted padding to make space for the icon */
    margin-bottom: 0px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}

.login-form input:focus {
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: 3px solid white;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.additional-links a {
    color: white;
    margin: 0 32px;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}
