body{
    background-color: var(--bg);
    background-size: 100px;
    background-image: url(/image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: flex;
    min-height: 2000px;
    position: relative;
}