/* CSS untuk membuat semua item navbar berada di tengah */
.navbar-center {
    display: flex;
    justify-content: center;
}

/* CSS untuk mengatur margin pada navbar brand (DVJR) */
.navbar-brand {
    margin-right: ; /* Anda dapat mengatur margin sesuai kebutuhan */
}
